/**
 * Add `?vsn=d` to your font URLs to cache.
 */

@font-face {
  font-family: "Lateral";
  font-display: fallback;
  src: url("/assets/fonts/Lateral-StandardRegular.woff2?vsn=d") format("woff2");
  font-weight: 300;
  font-style: normal;
}
