@import "./navigation-nojs.css";

header[data-nav] {
  @space padding-y 2em;
  max-width: 100% !important;

  z-index: 5;
  position: fixed;
  width: 100%;
  backface-visibility: hidden;
  transition:
    padding-top 350ms ease,
    padding-bottom 350ms ease,
    background-color 250ms ease;

  pointer-events: none;

  &[data-header-small] {
    @space padding-y 1em;
    transition:
      padding-top 350ms ease,
      padding-bottom 350ms ease,
      background-color 250ms ease;
  }

  &[data-header-reg-bg] {
    @color bg white;
  }

  &[data-header-alt-bg] {
    @color bg transparent;
    @color fg black;
  }

  nav {
    @space container;
    height: auto;
    position: relative;
    display: flex;

    .mobile-bg {
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);
      display: none;
      pointer-events: none;

      .inner {
        @space container;
        @display flex $lg;
        height: 100vh;
      }
    }

    .main {
      @column 6/12 $lg;
      @display flex $lg;
      align-items: baseline;
      margin-left: auto;
    }
  }
}

.open-menu {
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: #000 !important;
  }

  nav .brand {
    opacity: 0;
  }
}
